<?xml version="1.0" encoding="UTF-8" standalone="no"?><students>
    <student id="">
        <name/>
        <age/>
    </student>
    <student id="">
        <name/>
        <age/>
    </student>
<student id="1"><name>张四</name><age>11</age></student></students>